In [52]:
import pandas as pd
import numpy as np

In [53]:
dataset = pd.read_csv('titanic.csv')
print(dataset)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [54]:
rows, cols = dataset.shape
print("Jumlah baris", rows)
print("Jumlah kolom", cols)

Jumlah baris 891
Jumlah kolom 12

In [55]:
data = dataset.loc[:, ['Age', 'Fare']]
print(data)

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [56]:
kelas = dataset.loc[:, ['Survived']]
print(kelas)

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [57]:
dataset = dataset.fillna(dataset.groupby('Survived').transform('mean'))
print(dataset)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  30.626179
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare Cabin Embarked
0        1      0         A/5 21171   7.2500   NaN        S
1        1      0          PC 17599  71.2833   C85        C
2        0      0  STON/O2. 3101282   7.9250   NaN        S
3        1      0            113803  53.1000  C123        S
4        0      0            373450   8.0500   NaN        S
..     ...    ...               ...      ...   ...      ...
886      0      0            211536  13.0000   NaN        S
887      0      0            112053  30.0000   B42        S
888      1      2        W./C. 6607  23.4500   NaN        S
889      0      0            111369  30.0000  C148        C
890      0      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

<ipython-input-57-85a5b252494b>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset = dataset.fillna(dataset.groupby('Survived').transform('mean'))

In [58]:
# Normalisasi Min-Max (0-1) untuk kolom 'Age' dan 'Fare'
min_age = dataset['Age'].min()
max_age = dataset['Age'].max()
min_fare = dataset['Fare'].min()
max_fare = dataset['Fare'].max()

dataset['Age_MinMax'] = (dataset['Age'] - min_age) / (max_age - min_age)
dataset['Fare_MinMax'] = (dataset['Fare'] - min_fare) / (max_fare - min_fare)

print(dataset[['Age_MinMax', 'Fare_MinMax', 'Age', 'Fare']])

     Age_MinMax  Fare_MinMax        Age     Fare
0      0.271174     0.014151  22.000000   7.2500
1      0.472229     0.139136  38.000000  71.2833
2      0.321438     0.015469  26.000000   7.9250
3      0.434531     0.103644  35.000000  53.1000
4      0.434531     0.015713  35.000000   8.0500
..          ...          ...        ...      ...
886    0.334004     0.025374  27.000000  13.0000
887    0.233476     0.058556  19.000000  30.0000
888    0.379570     0.045771  30.626179  23.4500
889    0.321438     0.058556  26.000000  30.0000
890    0.396833     0.015127  32.000000   7.7500

[891 rows x 4 columns]

In [59]:
# Normalisasi Z-Score untuk kolom 'Age' dan 'Fare'
mean_age = dataset['Age'].mean()
std_age = dataset['Age'].std()
mean_fare = dataset['Fare'].mean()
std_fare = dataset['Fare'].std()

dataset['Age_ZScore'] = (dataset['Age'] - mean_age) / std_age
dataset['Fare_ZScore'] = (dataset['Fare'] - mean_fare) / std_fare

print(dataset[['Age_ZScore', 'Fare_ZScore',  'Age', 'Fare']])

     Age_ZScore  Fare_ZScore        Age     Fare
0     -0.595670    -0.502163  22.000000   7.2500
1      0.634089     0.786404  38.000000  71.2833
2     -0.288230    -0.488580  26.000000   7.9250
3      0.403509     0.420494  35.000000  53.1000
4      0.403509    -0.486064  35.000000   8.0500
..          ...          ...        ...      ...
886   -0.211370    -0.386454  27.000000  13.0000
887   -0.826250    -0.044356  19.000000  30.0000
888    0.067338    -0.176164  30.626179  23.4500
889   -0.288230    -0.044356  26.000000  30.0000
890    0.172929    -0.492101  32.000000   7.7500

[891 rows x 4 columns]

In [60]:
# Normalisasi Sigmoidal untuk kolom 'Age' dan 'Fare'
def sigmoidal_normalization(x):
    return (1 - np.exp(-x)) / (1 + np.exp(-x))

dataset['Age_Sigmoidal'] = sigmoidal_normalization(dataset['Age_ZScore'])
dataset['Fare_Sigmoidal'] = sigmoidal_normalization(dataset['Fare_ZScore'])

print(dataset[['Age_Sigmoidal', 'Fare_Sigmoidal',  'Age', 'Fare']])

     Age_Sigmoidal  Fare_Sigmoidal        Age     Fare
0        -0.289330       -0.245935  22.000000   7.2500
1         0.306832        0.374117  38.000000  71.2833
2        -0.143126       -0.239544  26.000000   7.9250
3         0.199061        0.207203  35.000000  53.1000
4         0.199061       -0.238358  35.000000   8.0500
..             ...             ...        ...      ...
886      -0.105293       -0.190857  27.000000  13.0000
887      -0.391123       -0.022174  19.000000  30.0000
888       0.033656       -0.087855  30.626179  23.4500
889      -0.143126       -0.022174  26.000000  30.0000
890       0.086250       -0.241203  32.000000   7.7500

[891 rows x 4 columns]

In [61]:
print(dataset[['Age_MinMax', 'Age_ZScore', 'Age_Sigmoidal', 'Fare_MinMax', 'Fare_ZScore', 'Fare_Sigmoidal']])

     Age_MinMax  Age_ZScore  Age_Sigmoidal  Fare_MinMax  Fare_ZScore  \
0      0.271174   -0.595670      -0.289330     0.014151    -0.502163
1      0.472229    0.634089       0.306832     0.139136     0.786404
2      0.321438   -0.288230      -0.143126     0.015469    -0.488580
3      0.434531    0.403509       0.199061     0.103644     0.420494
4      0.434531    0.403509       0.199061     0.015713    -0.486064
..          ...         ...            ...          ...          ...
886    0.334004   -0.211370      -0.105293     0.025374    -0.386454
887    0.233476   -0.826250      -0.391123     0.058556    -0.044356
888    0.379570    0.067338       0.033656     0.045771    -0.176164
889    0.321438   -0.288230      -0.143126     0.058556    -0.044356
890    0.396833    0.172929       0.086250     0.015127    -0.492101

     Fare_Sigmoidal
0         -0.245935
1          0.374117
2         -0.239544
3          0.207203
4         -0.238358
..              ...
886       -0.190857
887       -0.022174
888       -0.087855
889       -0.022174
890       -0.241203

[891 rows x 6 columns]